#**Data Types and Structures Questions**

1. What are data structures, and why are they important?
-
Data structures are ways to organize and store data efficiently. They are important for performing operations like searching, sorting, insertion, and deletion effectively.

2.  Explain the difference between mutable and immutable data types with examples.
 - Mutable: Can be changed (e.g., list, dict, set)

  - Immutable: Cannot be changed (e.g., int, str, tuple)

3. What are the main differences between lists and tuples in Python?
 - Lists are mutable; tuples are immutable.

  - Lists have more methods and are slower; tuples are faster and memory-efficient.

4.Describe how dictionaries store data.
  - Dictionaries use key-value pairs and hash tables internally for fast data access.

5. Why might you use a set instead of a list in Python?
  
   - Sets automatically remove duplicates and offer faster membership testing.

6.  What is a string in Python, and how is it different from a list?
 - A string is a sequence of characters and is immutable. A list is a collection of elements and is mutable.

7. How do tuples ensure data integrity in Python?
 - Tuples are immutable, so their data cannot be changed, making them ideal for fixed collections.

8.  What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores data in an associative manner using hash functions. Python dictionaries are implemented using hash tables.

9.  Can lists contain different data types in Python?
- Yes, Python lists can store elements of multiple types.

10. Explain why strings are immutable in Python.
 - Immutability makes strings safe, thread-safe, and usable as dictionary keys.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries allow fast lookups by keys, making them more efficient for key-value pair data.

12. Describe a scenario where using a tuple would be preferable over a list.
- When storing fixed values such as coordinates or days of the week.

13.  How do sets handle duplicate values in Python?
 - Sets automatically ignore duplicates.

14. How does the “in” keyword work differently for lists and dictionaries?

 - In lists: checks for values.

 - In dictionaries: checks for keys.

15. Can you modify the elements of a tuple?
- Explain why or why not.No. Tuples are immutable.

16. What is a nested dictionary, and give an example of its use case.
 - A dictionary within a dictionary.
 - Example: {"student": {"name": "Alex", "marks": 90}}

17. Describe the time complexity of accessing elements in a dictionary.
 - Average case: O(1) (constant time).

18.  In what situations are lists preferred over dictionaries?
 - When order matters or when working with sequences of items without key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Before Python 3.7, dictionaries didn’t maintain order. Retrieval is by key, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- List: Access by index.

- Dictionary: Access by key.

#**Practical Questions**

1. Write a code to create a string with your name and print it

In [1]:
print("Shivanshu Singh")

Shivanshu Singh

2. Write a code to find the length of the string "Hello World"

In [2]:
print(len("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
print("Python Programming"[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
print("I like apple".replace("apple", "orange"))

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it

In [6]:
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
print(['a', 'b', 'c', 'd'][1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
print([10, 20, 30, 40, 50][::-1])

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
print((100, 200, 300))

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
print(('red', 'green', 'blue', 'yellow')[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
print(min((10, 20, 5, 15)))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
print(('dog', 'cat', 'rabbit').index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
print({'a', 'b', 'c'})

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
print({1, 2, 3} | {3, 4, 5})

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
print({1, 2, 3} & {2, 3, 4})

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
print({"name": "John", "age": 25, "city": "New York"})

{'name': 'John', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
info = {'name': 'John', 'age': 25}
info['country'] = 'USA'
print(info)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
print({'name': 'Alice', 'age': 30}['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [28]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [29]:
print("city" in {'name': 'Alice', 'city': 'Paris'})

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [30]:
print([1, 2, 3])
print((4, 5, 6))
print({'a': 1, 'b': 2})

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [31]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[17, 30, 49, 61, 72]

28. Write a code to create a list with strings and print the element at the third index.

In [32]:
print(["apple", "banana", "cherry", "date", "fig"][3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [33]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [34]:
print(set(["apple", "banana", "apple"]))

{'apple', 'banana'}